.form {
    width: 100%;
    min-height: 120px;
    padding: 30px 0;
    background-color: $color-primary;

    &__container {
        display: grid;
        gap: $gap;
        margin: auto;
        padding-right: 20px;
        padding-left: 20px;
        grid-template-areas: "c1 c2 c3";
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.form-item {
    display: block;

    & .btn-accent {
        min-width: 0px;
    }

    &:nth-of-type(1) {
        grid-area: c1;
    }
    &:nth-of-type(2) {
        grid-area: c2;
    }
    &:nth-of-type(3) {
        grid-area: c3;
    }
    &__input {
        display: block;
        font-family: $font-main;
        letter-spacing: 0.15em;
        color: $color-light;
        width: 100%;
        height: $btn-height;
        padding: 0 30px 0 30px;
        border: 2px solid #ffffff00;
        border-bottom-color: #ffffff40;
        background-color: #ffffff0d;
        transition: background-color 0.5s, border-color 0.5s;
        font-size: 1.125rem;

        &:hover,
        &:focus {
            border-color: #ffffff26;
            border-bottom-color: $color-light;
            background-color: #ffffff26;
            color: $color-light;
            outline: none;
        }

        &::placeholder {
            color: $color-gray;
        }
    }
}

input {
    overflow: visible;
}

.form-item .btn-accent {
    width: 100%;
    color: $color-light;
    border-color: #ffffff00;
    border-bottom-color: #ffffff33;
    background-color: #ffffff1a;
    transition: background-color 0.5s, border-color 0.5s;
}

.btn-accent:hover,
.btn-accent:focus {
    background-color: $color-accent;
    border: 2px solid $color-light;
}

@include lg-min {
    .form {
        min-height: 120px;
        padding: 30px 0;

        &__container {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@include lg-md {
    .form {
        min-height: 100px;
        padding: 20px 0;

        &__container {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@include md-sm {
    .form {
        min-height: 100px;
        padding: 20px 0;

        &__container {
            grid-template:
                "c1 c1"
                "c2 c3";
            grid-template-columns: 1fr 1fr;
        }
    }
}

@include sm {
    .form {
        min-height: 100px;
        padding: 20px 0;

        &__container {
            grid-template:
                "c1"
                "c2"
                "c3";
            grid-template-columns: 1fr;
        }
    }
}
