.about {
    display: block;
    padding-top: 100px;
    padding-bottom: 73px;
    background-color: $color-gray-light;
    letter-spacing: 0.055em;
    position: relative;//

    &__container {
        max-width: 1340px;
        margin: auto;
        padding-right: 20px;
        padding-left: 20px;
        display: grid;
        grid-gap: 100px;
        grid-template-areas: "b1 b2";
        grid-template-columns: 1fr 271px;
    }

    &__image {
        grid-area: b2;
        justify-content: center;
        display: flex;
        align-items: center;
        & img {
            max-width: 100%;
            max-height: 480px;
        }
        & vl {
            border-left: 2px solid lighten($color-gray, 39%);
            height: 200px;
            //position: relative;
            position: absolute;
        }
    }

    &__content {
        grid-area: b1;
        & p {
            font-size: 1rem;
            margin-top: 0px;
            margin-bottom: 18px;

            &:first-of-type {
                position: relative;
                margin-top: -5px;
            }

            &:last-of-type {
                margin-bottom: 0px;
                top: 20px;
            }
        }
    }
}

@include lg-min {
    .about {
        &__container {
            grid-gap: 100px;
            grid-template-columns: 1fr 271px;
        }
        &__content p {
            font-size: 1.125rem;
        }
        &__image vl{
            //right: 50px;
            right: 341px;
            top: 252px;
        }
    }
}

@include lg-md {
    .about {
        padding-top: 80px;
        padding-bottom: 80px;

        &__container {
            grid-gap: 40px;
            grid-template-columns: 1fr 271px;
        }

        &__content h2 {
            margin-bottom: 42px;
            font-size: 2rem;
        }
        &__image vl{
            top: 198px;
            right: 311px;
        }
    }
}

@include md-sm {
    .about {
        &__container {
            grid-gap: 20px;
            grid-template-columns: 1fr 236px;
        }
        &__content h2 {
            margin-bottom: 36px;
            font-size: 1.5rem;
        }
        &__image vl{
            top: 152px;
            right: 266px;
        }
    }
}

@include md {
    .about {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@include sm {
    .about {
        &__container {
            grid-gap: 20px;
            grid-template-areas: "b1" "b2";
            grid-template-columns: 1fr;
        }
        &__content h2 {
            margin-bottom: 36px;
            text-align: center;
            font-size: 1.5rem;
        }
        &__image vl{
            display: none;
        }
    }
}


