* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    font-size: $font-size;
    font-family: $font-main;
    color: $color-gray;
}

h1 {
    font-family: $font-header;
    margin: 0;
}

h2 {
    letter-spacing: 0.1em;
    color: $color-primary;
    font-family: $font-header;
    line-height: 1.2em;
    margin-bottom: 56px;
    font-size: 2.5rem;
    margin-top: 0;
}

h3 {
    transition: color 0.5s;
    text-align: center;
    letter-spacing: 0.05em;
    font-family: $font-header;
    color: $color-gray;
    font-size: 1.125rem;
}

p {
    color: $color-gray;
}

a {
    text-decoration: none;
    color: $color-light;
}

.btn-accent,
.btn {
    display: block;
    padding: 18px 20px;
    height: $btn-height;
    font-size: 1.125rem;
    text-align: center;
    letter-spacing: 0.1em;
    transition: background-color 0.5s;
}

.btn {
    min-width: 250px;
    border: 2px solid $color-light;
    background-color: #ffffff1a;
    transition: background-color 0.5s;
}

.btn-accent {
    min-width: 350px;
    border: 2px solid $color-primary;
    background-color: rgba($color-primary, 0.8);
}

.btn-accent:hover,
.btn-accent:focus,
.btn:hover,
.btn:focus {
    background-color: $color-accent;
}
