
@import "../../libs/normalize-scss/sass/normalize/import-now";
@import "skin";
@import "variables";
@import "mixins";
@import "mixins-media";
@import "extends";

@import "common";
@import "header/header";
@import "header/header-overlay";
@import "header/header-menu";
@import "header/header-logo";
@import "header/header-navbar";
@import "header/header-content";

@import "sections/section-skills/section-skills";
@import "sections/section-skills/section-skills__items";
@import "sections/section-about";
@import "sections/section-form";
@import "sections/section-posts";

@import "footer";

@media (min-width: 992px){
    h1{
        font-size: 3.75rem;
    }
    .header-content__title {
        margin: 0 0 54px 0;
    }
}

@media (max-width: 992px) and (min-width: 769px){
    h1{
        font-size: 2.5rem;    
    }
    .header-content__title {
        margin: 0 0 44px 0;
    }
}

@media (max-width: 768px){
    h1{
        font-size: 1.875rem;    
    }
    .header-content__title {
        margin: 0 0 34px 0;
    }
}
