.skills{
    padding: 10px;
    margin-bottom: 30px;
    &-button{
        display: flex;
        justify-content: center;
    }    
}
/*
.skill-item__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: 50% 50%;
    background-size: cover;
    transition: transform 0.5s;
}
*//*
.skill-item__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: 50% 50%;
    background-color: #2d3651;
    background-size: cover;
    z-index: 1;
    opacity: 80%;
    transition: opacity 0.5s;
}*/
/*
.skill-item__title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    margin: 0;
    transition: color 0.5s;
}
*//*
.skill-item__link {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    letter-spacing: 0.1em;
}*/

